    .table {
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }
    .dark-theme .table {
      border: 1px solid rgba(255, 255, 255, 0.25);
    }
    .table .row {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
    .dark-theme .table .row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    .table .row:last-child {
      border-bottom: none;
    }
    .table .row.head .name {
      font-weight: bold;
    }
    .table .row .tr {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
    .dark-theme .table .row .tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }
    .table .row .tr:last-child {
      border-bottom: none;
    }
    .table .row .tr .td {
      flex: 1;
      padding: 5px;
    }
