    :root {
      --sticky-h: 40px;
    }

    [id] {
      scroll-margin-top: calc(var(--sticky-h) + 20px);
    }

    .sticky {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 5px;
      z-index: 2;
/*      background-color: #1c281a;*/
      background-color: #f1f1f1;
      min-height: 30px;
    }

    .sticky-top a,
    .sticky-home a {
      display: block;
      font-size: 0.9em;
      width: 50px;
      text-align: center;
      text-decoration: none;
/*      background-color: #1c1c1eff;*/
/*      border-radius: 20px;*/
/*      color: #fff;*/
      color: #000;
      padding: 5px 0;
      margin: 0 8px;
    }

    .sticky nav {
      flex-grow: 2;
      max-width: 80em;
/*      background: red;*/
    }

    .sticky nav ul {
/*      border-radius: 20px;*/
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: inline-flex;
/*      background-color: #1c1c1eff;*/
/*      background-color: #1c281a;*/
      background-color: #f1f1f1;
      align-items: center;
      margin: 0;
      padding: 0 8px;
      flex-wrap: wrap;
    }

    .sticky nav ul ul {
      border-radius: 0px;
    }

    .sticky nav li {
      list-style: none;
      color: white;
      padding: 5px 0;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
    }

    .sticky nav ul a {
      text-decoration: none;
/*      color: #fff;*/
      color: #000;
      font-size: 0.9em;
    }

    .sticky nav ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

    .sticky nav ul li:hover > ul,
    .sticky nav ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    }

    .sticky nav ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      border-style: none;
    }

    .sticky nav ul li ul li a {
      display: block;
      padding: 3px 0;
    }

    .sticky nav ul li ul li a:hover {
      padding-left: 10px;
/*      border-left: 2px solid #20b2aa;*/
/*      border-left: 2px solid #f0d795;*/
      border-left: 2px solid #1c281a;
      transition: all 0.3s ease;
    }

    .sticky nav ul li ul li a {
      transition: all 0.5s ease;
    }

    .dark-theme .sticky {
      background-color: #1c281a;
    }

    .dark-theme .sticky-top a,
    .dark-theme .sticky-home a {
      background-color: #1c281a;
      color: #fff;
    }

    .dark-theme .sticky nav ul {
/*      background-color: #d8dbe0;*/
      background-color: #1c281a;
    }

    .dark-theme .sticky nav li {
      color: #fff;
    }

    .dark-theme .sticky nav ul a {
      color: #fff;
    }

    .dark-theme .sticky nav ul li ul li a:hover {
      border-left: 2px solid #f0d795;
    }

    @media (max-width: 667px)  {
      [id] {
        scroll-margin-top: 0;
      }

      .sticky {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
        padding-top: 0;
        z-index: unset;
      }

      .sticky-top {
        display: none;
      }

      .sticky-home {
        order: 1;
      }

      .sticky nav ul {
        border-radius: 0;
        height: unset;
        display: block;
        background-color: unset;
        align-items: unset;
        margin: 0 10px;
        padding: 0 10px;
        flex-wrap: unset;
      }

      .sticky nav li {
        list-style: unset;
        color: #000;
        padding: unset;
        margin: unset;
        position: relative;
        cursor: pointer;
        white-space: unset;
      }

      .sticky nav li::before {
        content: unset;
        position: unset;
        display: none;
      }

      .sticky nav ul a {
        color: unset;
        font-size: 1em;
      }

      .sticky nav ul li ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        padding-left: unset;
        left: unset;
        display: block;
        z-index: unset;
      }

      .sticky nav ul li:hover > ul,
      .sticky nav ul li ul:hover {
        min-width: 100%;
        box-shadow: unset;
      }

      .sticky nav ul li ul li a {
        display: block;
        padding: 3px 0;
      }

      .sticky nav ul li ul li a:hover {
        padding-left: unset;
        border-left: none;
        transition: none;
      }

      .sticky nav ul li ul li a {
        transition: none;
      }

      .dark-theme .sticky-top a,
      .dark-theme .sticky-home a {
        background-color: unset;
        color: unset;
      }

      .dark-theme .sticky nav ul {
        background-color: unset;
      }

      .dark-theme .sticky nav li {
        color: unset;
      }

      .dark-theme .sticky nav ul a {
        color: unset;
      }
    }

    @media print {
      .sticky-top a,
      .sticky-home a {
        display: none;
      }
      nav {
        display: none;
      }
    }