    .c1, .c2, .c3, .c4 {
      display: inline-block;
      position: relative;
    }

    .c1::before,
    .c2::before,
    .c3::before,
    .c4::before {
      content: "";
      position: absolute;
      left: -2px;
      right: -2px;
      top: 0;
      bottom: 0;
      border-radius: 0.3em;
      pointer-events: none;
    }

    .c1 {
      background: rgba(255,0,0,0.1);
    }
    .c1::before {
      border: 1px solid red;
    }

    .c2 {
      background: rgba(0,255,0,0.1);
    }
    .c2::before {
      border: 1px solid green;
    }

    .c3 {
      background: rgba(0,0,255,0.1);
    }
    .c3::before {
      border: 1px solid blue;
    }

    .c4 {
      background: rgba(255,0,255,0.1);
    }
    .c4::before {
      border: 1px solid fuchsia;
    }
