    @media (max-width: 560px) {
      .a1, .a2 {
        white-space: pre;
        overflow: auto;
      }
      .wrapper > .a1 {
        border-bottom-width: 0;
      }
      .wrapper > .a1,
      .wrapper > .a2 {
        flex: 0 0 100%;         /* each takes full width → A1, A2, A1, A2, ... */
      }

      .b30, .b40, .b60, .b70, .b50 {
        flex: 0 0 100%;
        border-bottom-width: 0;
        white-space: pre;
        overflow: auto;
      }

      .b30 + .b70,
      .b40 + .b60,
      .b50 + .b50 {
        border-bottom-width: 1px;
      }
    }

    .dark-theme .last-updated,
    .dark-theme footer {
      color: rgba(255,255,255,0.1);
    }

    @media (max-width: 667px)  {
      body {
        margin-left: 0;
        margin-right: 0;
      }
      .hide {
        display: none;
      }

      .toggler {
        position: unset;
        display: block;
        height: 24px;
        padding: 10px;
        zoom: 1.5;
        display: flex;
        flex-direction: row-reverse;
      }

      .last-updated {
        position: relative;
        text-align: right;
      }

      section .top {
        display: inline-block;
      }
    }

    @media print {
      .dont-print, .top, .notes {
        display: none;
      }

      .dark-theme * {
        box-shadow: none !important;
      }

      section {
        box-shadow: none !important;
      }

      .sketch {
        border: 1px dashed #000;
      }

      .soft {
        color: #4B2CFF;
      }

      .nasal {
        color: #D3358F;
      }

      .mixed {
        color: #FF7F0E;
      }

      .stop {
        color: #D62728;
      }

      .liquid {
        color: #17BECF;
      }

      .sibilant {
        color: #2CA02C;
      }

      .a1, .a2 {
        white-space: pre;
        overflow: auto;
      }
      .wrapper > .a1,
      .wrapper > .a2 {
        border-bottom: 1px solid #bbb;
        flex: 0 0 100%;
      }

      details {
        padding: 0;
        border: none;
      }

      .last-updated,
      footer {
        opacity: 0.5;
      }

      footer {
        position: absolute;
        top: 20px;
        right: 0;
      }

      footer > div {
        line-height: unset;
        padding-right: unset;
      }

      footer .year {
        display: none;
      }

      .toggler {
        display: none;
      }
    }
