    body {
      margin: 0;
    }

    :root {
      --sticky-h: 40px;
    }

    [id] {
      scroll-margin-top: calc(var(--sticky-h) + 20px);
    }

    .sticky {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 5px;
      z-index: 2;
    }

    .sticky-top a {
      display: block;
      font-size: 0.9em;
      width: 50px;
      text-align: center;
      text-decoration: none;
      background-color: #1c1c1eff;
      border-radius: 20px;
      color: #fff;
      padding: 5px 0;
      margin: 0 8px;
    }

    .sticky nav ul {
      border-radius: 20px;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: inline-flex;
      background-color: #1c1c1eff;
      align-items: center;
      margin: 0;
      padding: 0 8px;
      flex-wrap: wrap;
    }

    .sticky nav ul ul {
      border-radius: 0px;
    }

    .sticky nav li {
      list-style: none;
      color: white;
      padding: 5px 0;
      margin: 0 8px;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
    }

    .sticky nav ul a {
      text-decoration: none;
      color: #fff;
      font-size: 0.9em;
    }

    .sticky nav ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      padding-left: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

    .sticky nav ul li:hover > ul,
    .sticky nav ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
    }

    .sticky nav ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      border-style: none;
    }

    .sticky nav ul li ul li a {
      display: block;
      padding: 3px 0;
    }

    .sticky nav ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #20b2aa;
      transition: all 0.3s ease;
    }

    .sticky nav ul li ul li a {
      transition: all 0.5s ease;
    }

    .dark-theme .sticky-top a {
      background-color: #d8dbe0;
      color: #000;
    }

    .dark-theme .sticky nav ul {
      background-color: #d8dbe0;
    }

    .dark-theme .sticky nav li {
      color: #000;
    }

    .dark-theme .sticky nav ul a {
      color: #000;
    }

    @media (max-width: 667px)  {
      [id] {
        scroll-margin-top: 0;
      }

      .sticky {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
        padding-top: 0;
        z-index: unset;
      }

      .sticky-top {
        display: none;
      }

      .sticky nav ul {
        border-radius: 0;
        height: unset;
        display: block;
        background-color: unset;
        align-items: unset;
        margin: 0 10px;
        padding: 0 10px;
        flex-wrap: unset;
      }

      .sticky nav li {
        list-style: unset;
        color: #000;
        padding: unset;
        margin: unset;
        position: relative;
        cursor: pointer;
        white-space: unset;
      }

      .sticky nav li::before {
        content: unset;
        position: unset;
        display: none;
      }

      .sticky nav ul a {
        color: unset;
        font-size: 1em;
      }

      .sticky nav ul li ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        padding-left: unset;
        left: unset;
        display: block;
        z-index: unset;
      }

      .sticky nav ul li:hover > ul,
      .sticky nav ul li ul:hover {
        min-width: 100%;
        box-shadow: unset;
      }

      .sticky nav ul li ul li a {
        display: block;
        padding: 3px 0;
      }

      .sticky nav ul li ul li a:hover {
        padding-left: unset;
        border-left: none;
        transition: none;
      }

      .sticky nav ul li ul li a {
        transition: none;
      }

      .dark-theme .sticky-top a {
        background-color: unset;
        color: unset;
      }

      .dark-theme .sticky nav ul {
        background-color: unset;
      }

      .dark-theme .sticky nav li {
        color: unset;
      }

      .dark-theme .sticky nav ul a {
        color: unset;
      }
    }

    main {
      max-width: 80em;
      margin: 0 auto;
      margin-top: 40px;
    }

    h6.h7 { font-size: 1.125em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.25em; margin: 0.5em 0 0 0; }
    h6 { font-size: 1.266em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.35em; margin: 0.5em 0 0 0; }
    h5 { font-size: 1.424em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.45em; margin: 0.5em 0 0 0; }
    h4 { font-size: 1.602em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.55em; margin: 0.5em 0 0 0; }
    h3 { font-size: 1.802em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.75em; margin: 0.5em 0 0 0; }
    h2 { font-size: 2.027em; line-height: 130%; margin-top: 1em; margin-bottom: 0.75em;
      background: #333;
      color: #fff;
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 16px;
    }

    h1 {
      font-size: 3em;
      box-shadow: none;
      background: none;
      font-variant-caps: petite-caps;
    }

    h4, h5, h6 {
      border-style: solid;
      border-width: 0;
      border-top-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
    }

    h4 { border-color: rgba(0, 0, 0, 0.1); }
    h5 { border-color: rgba(0, 0, 0, 0.05); }
    h6 { border-color: rgba(0, 0, 0, 0.025); }

    footer {
      opacity: 0.2;
      display: flex;
      flex-direction: row;
      padding-left: 280px;
      font-size: 0.75em;
      justify-content: space-between;
    }

    footer nav {
      display: block;
      position: relative;
      top: unset;
      left: unset;
      padding: unset;
      max-width: unset;
      font-size: unset;
      max-height: unset;
      overflow: unset;
    }

    footer nav ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      gap: 3px;
    }

    footer div {
      margin-top: 5px;
    }

    @media (max-width: 667px)  {
      nav {
        position: revert;
        font-size: 1em;
      }
      main {
        padding-left: 0;
      }
      footer {
        padding-left: 0;
      }
      footer nav ul {
        display: none;
      }
    }

    @media (max-width: 560px) {
    }

    @media print {
      nav {
        display: none;
      }
      main {
        padding-left: 0;
      }
      h2 {
        background: none;
        color: #000;
        box-shadow: none !important;
      }
      h2:has(+ section) {
        break-before: page;
      }
      section { break-before: page; }
      h2 + section { break-before: revert; }
    }

    .dark-theme h2 {
      background: #fff;
      color: #000;
/*      background: #3F5658;*/
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 1);
    }

    .dark-theme h1 {
      box-shadow: none;
      background: none;
    }
    
    .dark-theme h4 { border-color: rgba(255, 255, 255, 0.1); }
    .dark-theme h5 { border-color: rgba(255, 255, 255, 0.05); }
    .dark-theme h6 { border-color: rgba(255, 255, 255, 0.025); }
