    h6.h7 { font-size: 1.125em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.25em; margin: 0.5em 0 0 0; }
    h6 { font-size: 1.266em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.35em; margin: 0.5em 0 0 0; }
    h5 { font-size: 1.424em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.45em; margin: 0.5em 0 0 0; }
    h4 { font-size: 1.602em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.55em; margin: 0.5em 0 0 0; }
    h2 { font-size: 2.027em; line-height: 130%; margin-top: 1em; margin-bottom: 0.75em;
      background: #333;
      color: #fff;
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 16px;
    }
    h2.h3 {
      background: unset;
      color: unset;
      box-shadow: unset;
      padding: unset;
    }
    h2.h3,
    h3 { font-size: 1.802em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.75em; margin: 0.5em 0 0 0; }

    h1 {
      font-size: 3em;
      box-shadow: none;
      background: none;
      font-variant-caps: petite-caps;
    }

    h4, h5, h6 {
      border-style: solid;
      border-width: 0;
      border-top-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
    }

    h4 { border-color: rgba(0, 0, 0, 0.1); }
    h5 { border-color: rgba(0, 0, 0, 0.05); }
    h6 { border-color: rgba(0, 0, 0, 0.025); }

    footer nav {
      display: block;
      position: relative;
      top: unset;
      left: unset;
      padding: unset;
      max-width: unset;
      font-size: unset;
      max-height: unset;
      overflow: unset;
    }

    footer nav ul {
      display: flex;
      list-style: none;
      flex-direction: row;
      gap: 3px;
    }

    @media (max-width: 667px)  {
      nav {
        position: revert;
        font-size: 1em;
      }
      main {
        padding-left: 0;
      }
      footer {
        padding-left: 0;
      }
      footer nav ul {
        display: none;
      }
    }

    @media (max-width: 560px) {
    }

    @media print {
      nav {
        display: none;
      }
      main {
        padding-left: 0;
      }
      h2 {
        background: none;
        color: #000;
        box-shadow: none !important;
      }
      h2.h3 {
        background: unset;
        color: unset;
        box-shadow: unset;
      }
      h2:has(+ section) {
        break-before: page;
      }
      h2.h3:has(+ section) {
        break-before: unset;
      }
      section { break-before: page; }
      h2 + section { break-before: revert; }
      h2.h3 + section { break-before: unset; }
      footer nav {
        display: none;
      }
    }

    .dark-theme h2 {
      background: #fff;
      color: #000;
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 1);
    }

    .dark-theme h2.h3 {
      background: unset;
      color: unset;
      box-shadow: unset;
    }

    .dark-theme h1 {
      box-shadow: none;
      background: none;
    }
    
    .dark-theme h4 { border-color: rgba(255, 255, 255, 0.1); }
    .dark-theme h5 { border-color: rgba(255, 255, 255, 0.05); }
    .dark-theme h6 { border-color: rgba(255, 255, 255, 0.025); }


    div.cover {
      background: url('./img/background.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      aspect-ratio: 25 / 8;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.cover h1 {
      color: #edd384;
      margin: 0;
      text-shadow: 0px 0 10px rgba(215, 175, 0, 0.75);
      text-align: center;
    }

    @media (max-width: 667px)  {
      div.cover h1 {
        zoom: 0.8;
      }
    }

    @media print {
      div.cover {
        background: none;
      }
      div.cover h1 {
        color: #000;
        text-shadow: none;
      }
    }
