    main {
      margin-top: 0;
    }

    h6 { font-size: 1.125em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.25em; margin: 0.5em 0 0 0; }
    h5 { font-size: 1.266em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.35em; margin: 0.5em 0 0 0; }
    h4 { font-size: 1.424em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.45em; margin: 0.5em 0 0 0; }
    div.h3, h3 { font-size: 1.602em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.55em; margin: 0.5em 0 0 0; }
    h2 { font-size: 1.802em; line-height: 130%; padding-top: 0.5em; padding-bottom: 0.75em; margin: 0.5em 0 0 0; }
    h1 { font-size: 2.027em; line-height: 130%; margin-top: 2em; margin-bottom: 0.75em;
      background: #333;
      color: #fff;
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 0.25);
      padding: 10px 16px;
    }

    div.h3, h3, h4, h5 {
      border-style: solid;
      border-width: 0;
      border-top-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
    }

    div.h3, h3 { border-color: rgba(0, 0, 0, 0.1); }
    h4 { border-color: rgba(0, 0, 0, 0.05); }
    h5 { border-color: rgba(0, 0, 0, 0.025); }

    @media print {
      h1 {
        box-shadow: none !important;
      }
    }

    .dark-theme h1 {
      background: #fff;
      color: #000;
      box-shadow: 10px 10px 40px 0px rgba(0, 0, 0, 1);
    }

    .dark-theme div.h3, .dark-theme h3 { border-color: rgba(255, 255, 255, 0.1); }
    .dark-theme h4 { border-color: rgba(255, 255, 255, 0.05); }
    .dark-theme h5 { border-color: rgba(255, 255, 255, 0.025); }
