    .table {
      max-width: 60em;
    }

    .table .tr .td > .tengwar {
      font-size: 3em;
    }

    .table .tr .td {
      display: flex;
      flex-direction: row;
    }

    .table .tr .td > div {
      flex: 0 0 50%;
    }

    .table .tr .td .details {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }

    .table .tr .td:first-of-type {
      max-width: 50px;
      display: flex;
      align-items: center;
    }

    .table .tr .td.disabled {
      color: rgba(0, 0, 0, 0.2);
    }

    .dark-theme .table .tr .td.disabled {
      color: rgba(255, 255, 255, 0.2);
    }

    .table .row.main::before,
    .table .row.diphtongs::before,
    .table .row.labialisations::before,
    .table .row.special::before {
      background: rgba(0, 0, 0, 0.1);
      padding: 5px;
    }

    .table .row.main::before {
      content: "Consonants and vowels";
    }

    .table .row.diphtongs::before {
      content: "Diphtongs";
    }

    .table .row.labialisations::before {
      content: "Labialisations";
    }

    .table .row.special::before {
      content: "Special characters";
    }

    .tengwar b {
      color: rgba(155, 0, 0, 1);
    }

    .dark-theme .tengwar b {
      color: rgba(255, 185, 185, 1);
    }

    pre .tengwar {
      line-height: unset;
    }

    @media (max-width: 667px)  {
      .table .tr .td {
        flex-direction: column;
      }
      .table .tr .td > .tengwar {
        font-size: 2em;
      }
      .table .tr .td .details {
        padding: 0 0 10px 0;
      }
      .table .tr .td:first-of-type {
        max-width: 20px;
      }
    }
