    @font-face {
      font-family:'TengwarAnnatarGlaemunicode';
      src: url(./tengwar/df746ddc3e9311e3c7cd.eot);
      src:
        url(./tengwar/df746ddc3e9311e3c7cd.eot?#iefix)
          format("embedded-opentype"),
        url(./tengwar/dc0f47d7d8d934c38f1d.woff)
          format("woff"),
        url(./tengwar/cd9b919ab15a67cea8da.ttf)
          format("truetype"),
        url(./tengwar/031236536d00140b1b27.svg#tengwar_annatar_glaemunicodRg)
          format("svg");

      font-weight: normal;
      font-style: normal;
    }

    @font-face {
      font-family: 'TengwarTelcontar';
      src:
        url(./tengwar/0a3d7588b295f1240fac.ttf) 
          format("truetype");
      font-weight: normal;
      font-style: normal;
    }

    .tengwar {
      font-family: 'TengwarTelcontar', 'TengwarAnnatarGlaemunicode';
      line-height: 1.5;
      text-decoration: none;
      font-weight: normal !important;
    }

    .tengwar-number {
      font-family: 'TengwarAnnatarGlaemunicode';
    }